#bg-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-login {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #777;
}

#box-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#img-logo {
    width: 150px;
}
